<section class="fullpage bg-grey" id="slide_2">

	<div class="container">


		<svg id="dots-bg"></svg>

		<div class="grid-snap">

			<div class="padded-multiline dotted-title" data-aos="slide-up">
				<h1>
					An interaction &
		  </h1>
				<h1>
				prototyping factory
			</h1>
			</div>

			<div class="text-box" data-aos="slide-up" data-aos-delay=100>
				From sketches to code, between software and hardware. We design and prototype interactive products and experiences with emerging technologies.
				<br /><br /> We build "antefacts" or every iteration that happens between an idea and the real product.
			</div>

		</div>
	</div>
</section>
