<section class="fullpage bg-grey auto-height-mobile" id="about">
	<div class="v-center">


		<div class="container">

			<div class="row">
				<div class="col span-8 mobile-12">
					<div class="padded-multiline-container init" data-aos="slide-up">We research people and technology</div>
				</div>
			</div>
			<div class="row">

				<div class="col span-10 mobile-12">
					<div class="text-box bg-white with-shadow" data-aos="slide-up" data-aos-delay=100>
						<span class="text-blue">ante:fact</span> is a small team of hybrids researchers, designers and technologists.
						<br /><br />
We play with emerging technologies to find new interactions and mental models, we help startups and big companies to explore and prototype future products and experiences and we build tools to make it easier for others too.
					</div>
				</div>

			</div>
		</div>
	</div>

	</div>
</section>
