<section class="fullpage bg-light-grey nopadding">
	<div class="container">
		<div class="center-container">

			<div class="weare" data-aos="slide-up" data-aos-delay=100>
				we are <a href="http://simonerebaudengo.com"  target="_blank" class="hugeLetter" data-aos="slide-up" data-aos-delay="300">S</a> and <a href="http://lorenzoromagnoli.me" target="_blank" class="hugeLetter" data-aos="slide-up" data-aos-delay=500>L</a>
			</div>
			<div class="email" data-aos="fade-up" data-aos-delay=800>
				drop us a line <a href="mailto:hi@antefact.com" class="big">HI@ANTEFACT.COM</a>
			</div>
		</div>

	</div>
</section>
