<section class="fullpage nopadding bg-blue">
	<div class="v-center">
		<div class="container">

			<div class="row">
				<div class="col span-12">

					<h1 class="padded-multiline bg-white with-shadow" data-aos="slide-up">
					ready for the
				</h1>
					<br />
					<h1 class="padded-multiline bg-white with-shadow" data-aos="slide-up">
					next iteration?
			</h1>
				</div>
			</div>


			<div class="row">
				<div class="span-6">

				<script>
					// JS active
					(function(html) {
						html.className += ' js';
					})(document.documentElement);
				</script>

				<form class="fp-form">

					<div class="fp-row">
						<label class="fp-floating-label" for="fpFirstName">Name</label>
						<input type="text" name="first-name" id="fpFirstName" required data-store />
					</div>

					<div class="fp-row">
						<label class="fp-floating-label" for="fpEmail">Email</label>
						<input class="fp-do-expand" type="email" name="email" id="fpEmail" required data-store />
					</div>

					<div class="fp-row">
						<label class="fp-floating-label" for="fpNotes">Message</label>
						<textarea name="notes" id="fpNotes" required data-store></textarea>
					</div>

					<button type="submit" class="submit">GO!</button>

					</div>

			</div>
		</div>
	</div>

</section>
