<section class="footer bg-black">
	<div class="container">
		<div class="row">
			<div class="span-7 mobile-12 ">
				<strong>ante:facts</strong><br />
				every iteration that happens between an idea and the real product.
			</div>
			<div class="span-5 mobile-12 ">
				<div class="awesome-team">
					<span class="txt">by</span> <a href="http://simonerebaudengo.com" target="_blank"><img src="/assets/s.svg" /></a> <span class="txt">and</span> <a href="http://lorenzoromagnoli.me" target="_blank"><img src="/assets/l.svg" /></a>
				</div>

			</div>
		</div>
	</div>
</section>

  <script src="app.js"></script>
  </body>
</html>
