<section class="footer bg-black">
	<div class="container">
		<div class="row">
			<div class="span-7 col">
				<strong>ante:facts</strong><br />
				every iteration that happens between an idea and the real product.
			</div>
			<div class="span-5 col">
				<div class="awesome-team">
					<span class="txt">by</span> <img src="/assets/s.svg" /> <span class="txt">and</span>  <img src="/assets/l.svg" />
				</div>

			</div>
		</div>
	</div>
</section>

  <script src="app.js"></script>
  </body>
</html>
