<section class="fullpage bg-light-grey nopadding" id="hero">
	<div class="v-center">


	<div class="container">
		<div class="center-container">
			<div class="title" data-aos="fade-up" data-aos-delay=0>
				<div class="main">
					ante:fact
				</div>

				<div class="wtf">
						<div class="collapsed">
							?
						</div>
						<div class="expanded">
							<div class="playSound">
							<img src="assets/speaker.svg" id="playfonetics" >
							</div>

							<span class="fonetics">
								antefact /’antɪfakt/
							</span>
							<span class="description">
								n. 1. Something done before another act.
							</span>
							<a href="#" class="link">
								What???
							</a>
						</div>
				</div>
			</div>


			<div class="subtitle" data-aos="fade-up" data-aos-delay=100>
				an interative design studio
			</div>
</div>
		</div>
	</div>
</section>
