<section class="fullpage  bg-grey auto-height">

	<div class="container">
		<div class="row">
			<div class="span-8 mobile-12">
				<div class="padded-multiline-container init" data-aos="slide-up">We build tools, write and talk about connected products and teach around the world.</div>
			</div>
		</div>

		<div class="row">
			<div class="span-5 mobile-12">

				<!-- <div class="card bg-white with-shadow" data-aos="slide-up">
						<img class="image" src="assets/img/image-card.png"/>
						<div class="card-overlay">
							<div class="title">
								Design for Living with Smart Products
							</div>
							<div class="description">
								A small library to conect the micro:bit to the browser
							</div>
						</div>
					</div> -->


				<div class="card bg-white with-shadow" data-aos="slide-up">
					<a href="https://www.oreilly.com/ideas/smart-home-products-need-to-fit-into-the-experiences-and-rituals-of-our-everyday-lives" target="_blank">
						<img class="responsive-img" src="assets/img/book-card.png">
						<div class="card-overlay">
							<div class="title">
								Design for Living with Smart Products
							</div>
							<div class="description">
								Get the book from O'Reilly
							</div>
						</div>
						</a>
				</div>


			</div>
			<div class="span-5 mobile-12 mobile-offset-0 span-offset-1 col">
				<div class="hidden-half-card">

				</div>


				<div class="card bg-white with-shadow" data-aos="slide-up">
					<a href="https://antefact.github.io/microBit.js/" target="_blank">
						<img class="image" src="assets/img/microbit-card.png"/>
						<div class="card-overlay">
							<div class="title">
								Microbit.js
							</div>
							<div class="description">
								A small library to conect the BBC micro:bit board to the browser via BLE
							</div>
						</div>
					</div>
				</a>


				</div>
			</div>
		</div>


</section>
