<section class="fullpage  bg-grey auto-height">

		<div class="container">
			<div class="row">
				<div class="span-12">
					<h1 class="padded-multiline bg-white with-shadow" data-aos="slide-up">
								We build tools, write and
							</h1>
					<h1 class="padded-multiline bg-white with-shadow" data-aos="slide-up">
								talk about connected products
							</h1>
					<h1 class="padded-multiline bg-white with-shadow" data-aos="slide-up">
								and teach around the world.
							</h1>
				</div>
			</div>

			<div class="row">
				<div class="span-5 mobile-12">

					<div class="card bg-white with-shadow" data-aos="slide-up">
						<img class="image" src="assets/img/image-card.png"/>
						<div class="card-overlay">
							<div class="title">
								Design for Living with Smart Products
							</div>
							<div class="description">
								A small library to conect the micro:bit to the browser
							</div>
						</div>
					</div>


					<div class="card bg-white with-shadow" data-aos="slide-up">
						<img class="responsive-img" src="assets/img/book-card.png">
						<div class="card-overlay">
							<div class="title">
								Design for Living with Smart Products
							</div>
							<div class="description">
								A small library to conect the micro:bit to the browser
							</div>
						</div>
					</div>


				</div>
				<div class="span-5 mobile-12 mobile-offset-0 span-offset-1 col">
					<div class="hidden-half-card">

					</div>


					<div class="card bg-white with-shadow" data-aos="slide-up">
						<img class="image" src="assets/img/microbit-card.png"/>
						<div class="card-overlay">
							<div class="title">
								Design for Living with Smart Products
							</div>
							<div class="description">
								A small library to conect the micro:bit to the browser
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>


</section>
