<section class="fullpage bg-light-grey">

	<div class="center-container">
		<div class="container">

			<div class="portfolio-title">
				We worked on future toys, the first open source connect home and more secret stuff.
			</div>

		</div>

		<div class="portfolio-carousel">

			{{ range where .Data.Pages "Section" "portfolio" }}

			<div class="slide">
				<div class="container">

					{{ if eq .Params.bannertype "video"}}
						<div class="img-container responsive-background-video" data-aos="slide-up">
							{{ partial "responsiveBackgroundVideo" (dict "video" .Params.banner ) }}
						</div>
					{{end}}

					{{ if eq .Params.bannertype "photo"}}
						<div class="img-container responsive-background-image" data-aos="slide-up">
							{{ partial "responsiveBackgroundImage" (dict "imageName" .Params.banner ) }}
						</div>
					{{end}}

					<div class="text-container" data-aos="slide-up" data-aos-delay=100>
						<div class="title">
							{{.Title}}
						</div>
						<div class="paragraph">
							{{.Params.shortParagraph}}
						</div>
						<a href="{{.Params.link}}" target="_blank" class="link">+</a>
					</div>

				</div>
			</div>

			{{end}}
		</div>

	</div>
</section>
