<section class="fullpage bg-light-grey">
	<div class="container">


		<div class="center-container">

			<div class="portfolio-title">
				We worked on future toys, the first open source connect home and more secret stuff.
			</div>

			<div class="portfolio-carousel">

				<div class="slide" id="1">
					<div class="img-container" data-aos="slide-up">
						ooooooo
					</div>
					<div class="text-container" data-aos="slide-up" data-aos-delay=100>
						<div class="title">
							YIBU
						</div>
						<div class="paragraph">
							connected toy
						</div>
						<a href="#" class="link">+</a>
					</div>
				</div>

				<div class="slide" id="2">
					<div class="img-container" data-aos="slide-up">
						ooooooo
					</div>
					<div class="text-container" data-aos="slide-up" data-aos-delay=100>
						<div class="title">
							YIBU
						</div>
						<div class="paragraph">
							connected toy
						</div>
						<a href="#" class="link">+</a>
					</div>
				</div>
			</div>
		</div>
		<div class="control-arrows">

		</div>

		<div class="dots">

		</div>
	</div>
</section>
