<section id="portfolio" class="portfolio-grid">
	<div class="container">
		<div class="row no-gutter">
			{{ range where .Data.Pages "Section" "portfolio" }}
			<div class="span-{{.Params.size}} small-{{.Params.size}} portfolio-grid-item height-{{.Params.height}}" data-aos="slide-up">
				<!-- <img src="img/{{ replace .Params.img "." "_cover." }}" class="img-responsive" alt=""></img> -->

				{{ if eq .Params.bannertype "video"}}
					<div class="img-container responsive-background-video" >
						{{ partial "responsiveBackgroundVideo" (dict "video" .Params.banner ) }}
					</div>
				{{end}}

				{{ if eq .Params.bannertype "image"}}
					<div class="img-container responsive-background-image ">
						{{ partial "responsiveBackgroundImage" (dict "imageName" .Params.banner ) }}
					</div>
				{{end}}

				<div class="portfolio-box-caption">
					<a href="{{.Permalink}}" >
					<div class="portfolio-box-caption-content">
						<div class="project-category">
							<span>
                {{ .Params.category }}
              </span>
						</div>

						<div class="project-name">
							<span>
                {{ .Title }}
              </span>
						</div>
					</div>
					</a>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
