<section class="fullpage bg-grey nopadding " id="slide_2">
	<div class="responsive-background-video">
		<video class="background-video"  autoplay nocontrols loop >
		    <source type="video/webm" src="/assets/video/proto-reel.webm">
		</video>
	</div>

	<div class=" overlay overlay-fullpage">
			<div class="container">
				<div class="row">
					<div class="span-8 mobile-12">
						<div class="padded-multiline-container init" data-aos="slide-up">Every iteration that happens between an idea and the real product.
						</div>
					</div>
				</div>


			</div>
	</div>
</section>
