// Global Defaults //
@mobile-width:              100%;
@tablet-width:              735px;
@desktop-width:             1025px;


// Resonsive Design Break Points
@mobile-breakpoint:         @tablet-width;
@tablet-breakpoint:         @tablet-width;
@desktop-breakpoint:        @desktop-width;


// Grid generators params
@row-margin:                20px;
@col-margin:                1%;



/* Micro Clearfix */
.clear,
.section,
.checkbox {
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
}


/* Common Classes */
.left { float: left; }
.right { float: right; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.visuallyhidden {
  border: 0;
  clip: "~rect(0 0 0 0)";
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}
.visuallyvisible {
  clip: "~(auto)";
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}



/* ==========================================================================
/* Grid Layout (Responsive)
   ========================================================================== */
/* Sections & Content Blocks */

.section { position: relative; }

.row {
	margin-bottom: @row-margin;
	width: 100%;
	display: flex;
	height: auto;
	position: relative;
	flex-flow:row wrap;
}

.center { margin: 0 auto; }



.none,
.nodesktop {
  display: none;
}

.nocolmargin() {
  margin-left: 0;
}

/* Fluid Grid */

.col {
  margin-left: @col-margin;
  float: left;
  &:first-child {
    .nocolmargin();
  }
}


// Generators
// ==========================================================================


///* Columns */
.column(@col, @of, @attr: width) {
  @percents: (((100% - @col-margin * (@of - 1)) / @of) * @col) + @col-margin * (@col - 1);
  width: @percents;
}
.__columns(0, @total, @prefix) {}
.__columns(@cur, @total, @prefix: span) when (@cur > 0) {
  .@{prefix}-@{cur} { .column(@cur, @total); }
  .__columns((@cur - 1), @total, @prefix);
}
._columns(@prefix: span, @total: 12) { .__columns(@total, @total, @prefix); }


///* Offsets */
.offset(@col, @of, @attr: width) {
  @percents: (((100% - @col-margin * (@of - 1)) / @of) * @col) + @col-margin * (@col - 1);
  margin-left: @percents;
}
.__offsets(0, @total, @prefix) {}
.__offsets(@cur, @total, @prefix: span) when (@cur > 0) {
  .@{prefix}-offset-@{cur}, .@{prefix}-offset-@{cur}:first-child { .offset(@cur, @total); }
  .__offsets((@cur - 1), @total, @prefix);
}
._offsets(@prefix: span, @total: 12) {
  .__offsets(@total, @total, @prefix);
  .@{prefix}-offset-0 { margin-left: @col-margin; }
  .@{prefix}-offset-0:first-child { margin-left: 0 }
}


// Base columns
// ==========================================================================

.columns(@prefix: span, @columns: 12) {

  ._columns(@prefix, @columns);
  ._offsets(@prefix, @columns);

  .@{prefix}-first { .nocolmargin(); }
  .@{prefix}-top { margin-top: @row-margin }
  .@{prefix}-full {
    .clear();
    width: 100%;
    margin: @row-margin 0 0 0;

    &:first-child {
      margin-top: 0;
    }
  }
  .no@{prefix} { .none(); }
  .show@{prefix} { .block(); }
}

.columns(span);

.grid-8 {
  ._columns(span, 8);
}



/* ==========================================================================
/* -- Tablet Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (min-width: @tablet-breakpoint) and (max-width: @desktop-breakpoint) {



.columns(tablet);

} /* End Tablet Media Query */




/* ==========================================================================
/* -- Mobile Devices (Layout, Modifications, etc)
   ========================================================================== */
@media only screen and (max-width: @mobile-breakpoint) {

  .columns(mobile);

  /* Mobile Tables */
  table th,
  table td {
    padding: 4px;
  }

  /* Mobile Forms */
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=search],
  input[type=tel],

  textarea {
    width: 94%;
    padding: 7px 2%;
  }

  select {
    width: 90%;
  }
} /* End Mobile Media Query */


.mobile-0 {
	@media only screen and (max-width: 40rem){
	    width: 0px;
	}
}

	@media only screen and (max-width: @desktop-width) and (min-width: @tablet-width){
		.tablet-0 {

	    width: 0px;
	}
}


.height-1{
	height: 200px;
}

.height-2{
	height: 400px;
}

.height-3{
	height: 600px;
}
